@model FIT5032_AssignmentProject.Models.Unit

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceAud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceAud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Module.ModuleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.ModuleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tutor.TutorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutor.TutorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassRoom.ClassRoomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassRoom.ClassRoomName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
